@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
  margin: 0;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Roboto;
  text-align: center;
}

h1 {
  font-family: Roboto;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
  margin: 10px 0;
}

input[type="text"] {
  font-family: Roboto;
  border: 1px;
  border-color: lightgrey;
  border-style: solid;
  border-radius: 50vh;
  height: 30px;
  min-width: 1px;
  max-width: 300px;
  outline: none;
}

input[type="text"]:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.container {
  border: 2px;
  border-style: solid;
  border-color: lightgrey;
  border-radius: 20px;
  width: 75vw;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
  display: grid;
  position: relative;
  top: 10vh;
}

.colorbox {
  background-color: rgba(0, 255, 255, 0.322);
  border-radius: 10px;
  width: inherit;
  max-width: inherit;
  height: 200px;
  margin: 10px 0;
}

.name-input {
  width: inherit;
  max-width: inherit;
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

.name-input input {
  margin: 0 5px;
  flex: 1;
}

.color-input {
  width: 75vw;
  max-width: 400px;
  min-width: 10px;
  margin: 10px 0;
  display: flex;
}

.color-input input {
  margin: 10px 0 0;
}

.text-color-input {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 50px;
  flex: 1;
}

.text-color-input input {
  max-width: 120px;
}

.slider-color-input {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 1px;
  flex: 3;
}
