@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
  margin: 0;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Roboto;
}

input {
  border: 1px;
  border-color: lightgrey;
  border-style: solid;
  font-family: Roboto;
  height: 30px;
  border-radius: 50vh;
  text-align: center;
  outline: none;
  min-width: 1px;
}

input:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.container {
  width: 75vw;
  max-width: 400px;
  border: 2px;
  border-style: solid;
  margin: 0 auto;
  display: grid;
  padding: 10px;
}

.colorbox {
  background-color: rgba(0, 255, 255, 0.322);
  width: inherit;
  max-width: inherit;
  height: 200px;
  border-radius: 5px;
}

.name-input {
  width: inherit;
  max-width: inherit;
  display: flex;
  justify-content: center;
  margin: 20px 0 0;
}

.name-input input {
  margin: 0 5px;
}

.color-input {
  width: 75vw;
  max-width: 400px;
  min-width: 10px;
  display: flex;
  justify-content: center;
  margin: 20px 0 0;
}

.color-input input {
  margin: 10px 0 0;
}

.text-color-input {
  margin: 5px;
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 1px;
}

.text-color-input input {
  max-width: 120px;
}

.slider-color-input {
  margin: 5px;
  flex: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 1px;
}
